/* .postContainer {
  display: flex;

} */

.expandBox {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: fit-content;
}
.commentsFeed{
  height: inherit;
  overflow: scroll;
  overflow-x: hidden;
}
.commentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 325px;
  max-height: 900px;
  
}

.avatarComment{
  display: flex;
  align-items: center;
}

#avatarComment{
  display: flex;
  align-items: center;
}

.postDescription {
  padding-left: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

#commentBody {
  width: auto;
  overflow: visible;
  padding: 6px;
  height: 100px;
  border: 1px solid black;
}

.commentInputContainer {
  width: 225px;
  bottom: 0;
}

.comment {
  height: fit-content;
}
 
.commentBox {
  height: fit-content;
  width: fit-content;
}

#avatarImgComment{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#usernameComment{
 font-weight: bolder;
}
