#post-photo {
  cursor: pointer;
  width: 100%;
  max-height: 600px;
}

.left-container {
  display: flex;
  align-items: center;
  padding: 6px;
}

.post-body {
  word-break: break-word;
}

.post-user {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.owner-buttons {
  flex: 0 0 auto;
  margin-right: 20px;
}

.usernameComment {
  font-weight: 500;
}

.post-photo-wrapper {
  max-width: 600px;
}

.post-modal {
  display: flex;
  flex-direction: row;
  max-height: fit-content;
  width: fit-content;
}

.commentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  height: 600px;

}

.comment-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 14px 16px;
}

.comment-scroll {
  padding: 16px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  flex-grow: 1;
}

.commentInputContainer {
  width: 225px;
  bottom: 0;
  overflow-wrap: break-word;
}

.comment {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.comment-wrapper {
  width: 100%;
  padding: 16px;
}

.comment-content {
  display: grid;
  grid-template-areas:
    "username buttons"
    "comment buttons";
}

.comment-username {
  font-size: 14px;
  font-weight: 600;
  grid-area: username;
}

.comment-text {
  overflow: auto;
  font-size: 14px;
  grid-area: comment;
  overflow-wrap: break-word;
}

.buttons-wrapper {
  grid-area: buttons;
  display: flex;
}

#avatarImgComment{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 16px;
}

.last-comment-wrapper {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.post-image-wrapper {
  width: 293px;
  height: 293px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-image-wrapper .post-image-wrapper-inner {
  width: 400px;
  height: 293px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-image-profile-page {
  object-fit: fill;
  height: 100%;
  width: auto;
  cursor: pointer;
}

.avatar-div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
