/* .postContainer {
  display: flex;

} */

.expandBox {
  display: flex;
  flex-direction: row;
  /* max-height: 900px; */
  /* width: fit-content; */
  /* overflow-y:scroll; */
}

.feedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.commentsFeed{
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  max-height: inherit;
}
.commentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 325px;
  height: 900px;
  
}

.ownerButtons {
  display: flex;
  
}

.avatarComment{
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
}

#avatarComment{
  display: flex;
  align-items: center;
  overflow-wrap: break-word;

}

.postDescription {
  padding-left: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  overflow-wrap: break-word;

}

#commentBody {
  width: auto;
  overflow: visible;
  padding: 6px;
  height: 100px;
  border: 1px solid black;
  overflow-wrap: break-word;

}

.commentInputContainer {
  width: 225px;
  bottom: 0;
  overflow-wrap: break-word;

}

.comment {
  height: fit-content;
  overflow-wrap: break-word;

}
 
.commentBox {
  height: fit-content;
  width: fit-content;
}

#avatarImgComment{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#usernameComment{
 font-weight: bolder;
}
