.comment-form-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

#body {
  width: 80%;
  height: 40px;
  padding: 10px;
  border: none;
}

#submit-comment-btn {
  width: 10%;
  height: 40px;
  background: none;
  padding: 10px;
  border: none;
  color: #0095f6;
  font-weight: bold;
}
