.users-posts-wrapper {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.users-posts {
  max-width: 293px;
  max-height: 293px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: fill;
}

#post-photo {
  /* object-fit: fill;
  height: 100%;
  width: auto; */

}
