.profile-page {
  background-color: rgb(250 250 250);
  width: 100%;
  height: calc(100% - 64px);
}

.profile-page-wrapper {
  margin: 0 auto;
  display: flex;
  width: 919px;
  flex-direction: column;
}

.profile-page .profile-page-header {
  flex: 0 0 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 20px;
  border-bottom: solid 2px rgba(128, 128, 128, 0.26);
  position: relative;
}

.profile-page .profile-page-header .avatar-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  overflow: hidden;
  margin: 0 100px 0 -70px;
}

.profile-page .profile-page-header .avatar-wrapper img {
  height: 100%;
  width: 100%;
}

.user-posts-wrapper-outer {
  display: flex;
  flex-direction: column;
}

.user-posts-wrapper-outer .section-selector {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.user-posts-wrapper-outer .section-selector .section-selector-button {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  color: rgb(142, 142, 142);
  justify-content: center;
}

.user-posts-wrapper-outer
  .section-selector
  .section-selector-button
  > *:first-child {
  margin-right: 5px;
}

.users-posts-wrapper {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.user-posts-wrapper-outer
  .section-selector
  .section-selector-button
  .svg-wrapper {
  width: 24px;
  height: 100%;
  }

.user-posts-wrapper-outer .section-selector .section-selector-button span {
  font-size: 11px;
  font-family: "Inter", sans-serif;
}

.profile-page .user-posts-wrapper {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.users-posts {
  max-width: 293px;
  max-height: 293px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: fill;
}

.bio-formatting {
  margin-right: 10px;
}

.followButton {
  margin-left: 10px;
  font-size: 16px;
  padding: 6px;
  font-weight: bold;
  color: white;
  background: #0095f6;
  border: 1px solid white;
  border-radius: 5px;
  width: 100px;
}

.unfollowButton {
  margin-left: 10px;
  font-size: 16px;
  padding: 6px;
  font-weight: bold;
  background: rgb(250 250 250);
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100px;
}

.profile-page .profile-page-header .user-data-wrapper .username-wrapper span {
  flex: 0 0 auto;
}
.profile-page .profile-page-header .user-data-wrapper .bio {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile-page .profile-page-header .user-data-wrapper .bio span {
  flex: 1 1 auto;
}
