img {
  width: 400px;
  height: 450px;
}

.feedContainer {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.postContainer {
  background-color: darkgray;
  padding: 10px;
  border: 1px solid black;
  
}
