
* {
  font-family: 'Courier New', Courier, monospace;
}

.feedContainer {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.postContainer {
  padding: 20px;
}

.post {
  height: fit-content;
  width: 600px;
  border: 1px solid #a1a1a1;
  align-items: center;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  background-color: white;
}

.post-icons {
  padding: 6px 2px px 10px;
  display: flex;
  grid-gap: 10px;
  gap: 10px;
  align-items: center;
}

.postcard-icon-comment{
  position: relative;
  top: 3px;
}

.comment-icon {
  cursor: pointer;
}

.post-header {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.avatar-wrapper {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#avatarImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.username-link {
  font-weight: bolder;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}


.description-wrapper{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#description {
  overflow: auto;
  overflow-wrap: break-word;
}

.last-comment {
  padding-left: 5px;
  padding-right: 5px;
}

.like {
  cursor: pointer;
}

.likes-count{
  padding-top: .5rem;
  padding-left: .75rem;
}

.my-red-heart {
  font-size: 1.6rem;
  color: rgb(172, 46, 46);
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.my-heart {
  font-size: 1.6rem;
  padding-left: .75rem;
  padding-top: 0.5rem;
  color: rgb(36, 36, 36);
}
