
* {
  font-family: 'Courier New', Courier, monospace;
}

.feedContainer {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.postContainer {
  padding: 20px;
}

.post {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  border: 1px solid black;
}

.post-icons {
  padding: 6px 2px px 10px;
  display: flex;
  grid-gap: 10px;
  gap: 10px;
  align-items: center;
}

.postcard-icon-comment{
  position: relative;
  top: 3px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  padding: 7px;
  background-color: lightskyblue;
  width: 600px;
}

.avatar-wrapper {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#avatarImg {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.imgContainer{
  max-width: 600px;
  max-height: 600px;
}

#postPhoto {
  border: 1px solid black;
  max-width: inherit;
  max-height: inherit;

}


.description-wrapper{
  border: 1px solid black;
  background-color: whitesmoke;
  width: 600px;
  overflow-wrap: break-word;
  padding: 30px;
}

#description {
  font-weight: bolder;
}

.like {
  cursor: pointer;
}

.likes-count{
  padding-top: .5rem;
  padding-left: .75rem;
}

.my-red-heart {
  font-size: 1.6rem;
  color: rgb(172, 46, 46);
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.my-heart {
  font-size: 1.6rem;
  padding-left: .75rem;
  padding-top: 0.5rem;
  color: rgb(36, 36, 36);
}
