/* img {
  width: 400px;
  height: 450px;
} */

* {
  font-family: 'Courier New', Courier, monospace;
}

.feedContainer {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.postContainer {
  background-color: darkgray;
  padding: 10px;
  margin: 20px;
  border: 1px solid black;

}

.avatarDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  padding: 7px;
  background-color: salmon;
}

.avatarImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#avatarImg {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.imgContainer{
  max-width: 600px;
  max-height: 600px;
}

#postPhoto {
  border: 1px solid black;
  max-width: inherit;
  max-height: inherit;

}

.descriptionBox{
  border: 1px solid black;
  background-color: whitesmoke;
  width: 650px;
  /* overflow-x: hidden; */
  overflow-wrap: break-word;
  padding: 3px;

}

#descUsername {
  font-weight: bolder;
}
