.profile-dropdown {
  position: relative;
}

.navBar {
  background-color: salmon;
  width: 100%;
  z-index: 1;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0px;
  position: sticky;
  justify-content: space-around;
}

.avatarImg {
  z-index: 7;
}
