.profile-dropdown {
  position: absolute;
}

.navBar {
  background-color: salmon;
  width: 100%;
  z-index: 1;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
